/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	/* CAPSENSE configuration */
	CYBSP_CSD {
	status = "okay";
	compatible = "infineon";

	/* CAPSENSE pins */
	CYBSP_CSD_TX   = <&gpio_prt1 0 0>;
	CYBSP_CSD_BTN0 = <&gpio_prt8 1 0>;
	CYBSP_CSD_BTN1 = <&gpio_prt8 2 0>;
	CYBSP_CSD_SLD0 = <&gpio_prt8 3 0>;
	CYBSP_CSD_SLD1 = <&gpio_prt8 4 0>;
	CYBSP_CSD_SLD2 = <&gpio_prt8 5 0>;
	CYBSP_CSD_SLD3 = <&gpio_prt8 6 0>;
	CYBSP_CSD_SLD4 = <&gpio_prt8 7 0>;
	CYBSP_CINA     = <&gpio_prt7 1 0>;
	CYBSP_CINB     = <&gpio_prt7 2 0>;
	CYBSP_CMOD     = <&gpio_prt7 7 0>;
	};
};

&gpio_prt1 {
	status = "okay";
};

&gpio_prt7 {
	status = "okay";
};

&gpio_prt8 {
	status = "okay";
};
